
body {
    font-family: "Avenir Next";
   }
.header {
	background-color: white;
    color: black;
    height: 80px;
	text-align: center;
   }
   .contents {
 height: 500px;
}


.contents-item {
 float: left;

 margin-right: 20px;
}

.contents-item p {
 font-size: 17px;
 margin-top: 30px;
	text-align: center;

}
.contents-item img {
	 float:center;
    width:400px;
    height:400px;
}